<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed Materials - Property of IBM
 
5724-Q55

(c) Copyright IBM Corp. 2009, 2011  All Rights Reserved.

US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="%oda.data.source.id"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            driverClass="com.ibm.is.sappack.gen.oda.runtime.driver.impl.Driver"
            defaultDisplayName="%data.source.name"
            setThreadContextClassLoader="false"
            odaVersion="3.2"
            id="%oda.data.source.id">
         <properties>
            <propertyGroup
                  defaultDisplayName="%sapStandardConnectionProperties"
                  name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.standard.connection.properties">
               <property
                     allowsEmptyValueAsNull="false"
                     defaultDisplayName="%sapHostname"
                     isEncryptable="false"
                     name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.host.name"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="false"
                     defaultDisplayName="%sapSystemNumber"
                     isEncryptable="false"
                     name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.system.number"
                     type="string">
               </property>
            </propertyGroup>
            <propertyGroup
                  defaultDisplayName="%sapLoadBalancingConnectionProperties"
                  name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.load.balancing.connection.properties">
               <property
                     allowsEmptyValueAsNull="false"
                     defaultDisplayName="%sapMessageServer"
                     isEncryptable="false"
                     name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.message.server"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="false"
                     defaultDisplayName="%sapSystemID"
                     isEncryptable="false"
                     name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.system.id"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     defaultDisplayName="%sapGroupName"
                     isEncryptable="false"
                     name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.group.name"
                     type="string">
               </property>
            </propertyGroup>
            <propertyGroup
                  defaultDisplayName="%sapStandardProperties"
                  name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.standard.properties">
               <property
                     allowsEmptyValueAsNull="false"
                     defaultDisplayName="%sapSystemName"
                     isEncryptable="false"
                     name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.system.name"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     defaultDisplayName="%sapRouterString"
                     isEncryptable="false"
                     name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.router.string"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="false"
                     defaultDisplayName="%sapUserName"
                     isEncryptable="false"
                     name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.user.name"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     defaultDisplayName="%sapUserPassword"
                     isEncryptable="true"
                     name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.user.password"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="true"
                     defaultDisplayName="%sapUserLanguage"
                     isEncryptable="false"
                     name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.user.language"
                     type="string">
               </property>
               <property
                     allowsEmptyValueAsNull="false"
                     defaultDisplayName="%sapUseLoadBalancing"
                     defaultValue="false"
                     isEncryptable="false"
                     name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.load.balancing"
                     type="choice">
                  <choice
                        defaultDisplayName="true"
                        name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.load.balancing.enabled"
                        value="true">
                  </choice>
                  <choice
                        defaultDisplayName="false"
                        name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.load.balancing.disabled"
                        value="false">
                  </choice>
               </property>
               <property
                     allowsEmptyValueAsNull="false"
                     defaultDisplayName="%sapUserClientNumber"
                     isEncryptable="false"
                     name="com.ibm.is.sappack.gen.oda.runtime.driver.sap.user.client.number"
                     type="string">
               </property>
            </propertyGroup>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="%data.set.name"
            id="com.ibm.is.sappack.gen.oda.runtime.driver.dataSet">
         <dataTypeMapping
               nativeDataTypeCode="1"
               odaScalarDataType="String"
               nativeDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"
               nativeDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="8"
               odaScalarDataType="Double"
               nativeDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal"
               nativeDataType="BigDecimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="91"
               odaScalarDataType="Date"
               nativeDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="92"
               odaScalarDataType="Time"
               nativeDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp"
               nativeDataType="Timestamp">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean"
               nativeDataType="Boolean">
         </dataTypeMapping>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            name="%data.source.name"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"
            id="%oda.data.source.id">
      </category>
      <connectionProfile
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            name="%connection.profile.name"
            category="%oda.data.source.id"
            id="%oda.data.source.id">
      </connectionProfile>
      <connectionFactory
            name="ODA Connection Factory"
            profile="%oda.data.source.id"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection">
      </connectionFactory>
   </extension>

</plugin>
