<div>
	<div dojoAttachPoint="rdmPasswordDialog" dojoType="dijit.Dialog" title="${msg.RDMPASSWDDLG_1}" style="display: none">
		<div class="dijitDialogPaneContentArea">
			<table class="PasswordDialog_Table">
				<tr>
					<th colspan="2">
						<div dojoAttachPoint="tableColumnHeader" class="extraBottomMarginThin"></div></th>
				</tr>
				<tr>
					<td>
						<div class="imageSpacer">
							<div dojoAttachPoint="passwordDialogImage"></div>
						</div>
					</td>
					<td>
						<form dojoType="dijit.form.Form" dojoAttachPoint="passwordForm">
							<div dojoAttachPoint="passwordDialogInputElement" class="PasswordDialog_Input">
								<input dojoType=dijit.form.TextBox type="password" name="password" autocomplete="off" maxLength="63"
									dojoAttachPoint="passwordDialogInput" />
							</div>
						</form>
					</td>
				</tr>
			</table>
		</div>
		<div class="dijitDialogPaneActionBar">
			<div dojoType="dijit.form.Button" type="button" disabled="disabled" dojoAttachPoint="okButton">${msg.OK}</div>
			<div dojoType="dijit.form.Button" type="button" dojoAttachPoint="cancelButton">${msg.CANCEL}</div>
		</div>
	</div>
</div>