<div>
	<div dojoAttachPoint="passwordDialog" dojoType="dijit.Dialog"
		title="${msg.SAPPWDDLG_1}" style="display: none">
		<div class="dijitDialogPaneContentArea">
			<table class="PasswordDialog_Table">
				<tr>
					<th colspan="2">
						<div class="extraBottomMarginThin">${msg.SAPPWDDLG_2}</div>
					</th>
				</tr>
				<tr>
					<td rowspan="3">
					    <div class="imageSpacer">
						    <div dojoAttachPoint="passwordDialogImage"></div>
						</div>
					</td>
					<td class="PasswordDialog_Input">
						<label>${msg.SAPPWDDLG_4}</label>
					</td>
					<td class="PasswordDialog_Input">
						<div dojoAttachPoint="passwordDialogSapSystem"></div>
					</td>
				</tr>
				<tr>
					<td class="PasswordDialog_Input">
						<label>${msg.SAPPWDDLG_5}</label>
					</td>
					<td colspan="2" class="PasswordDialog_Input">
						<form dojoType="dijit.form.Form" dojoAttachPoint="userForm" dojoAttachEvent="onsubmit:_onOK">
							<div dojoAttachPoint="passwordDialogUser">
								<input dojoType=dijit.form.TextBox
									type="text"
									name="Username"
									autocomplete="off"
									maxLength="63"
									dojoAttachPoint="passwordDialogUser" />
							</div>
						</form>
					</td>
				</tr>
				<tr>
					<td class="PasswordDialog_Input">
						<label for="password">${msg.SAPPWDDLG_3}</label>
					</td>
					<td colspan="2" class="PasswordDialog_Input">
						<form dojoType="dijit.form.Form" dojoAttachPoint="passwordForm" dojoAttachEvent="onsubmit:_onOK">
							<div dojoAttachPoint="passwordDialogInputElement">
								<input dojoType=dijit.form.TextBox
									type="password"
									name="password"
									autocomplete="off"
									maxLength="63"
									dojoAttachPoint="passwordDialogPasswordInput" />
							</div>
						</form>
					</td>
				</tr>
			</table>
		</div>	
		<div class="dijitDialogPaneActionBar">
			<div dojoType="dijit.form.Button" type="button" disabled="disabled" dojoAttachPoint="okButton">${msg.OK}</div>
			<div dojoType="dijit.form.Button" type="button" dojoAttachPoint="cancelButton">${msg.CANCEL}</div>
		</div>
	</div>
</div>