<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed Materials - Property of IBM
 
5724-Q55

(c) Copyright IBM Corp. 2009, 2011  All Rights Reserved.

US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/help/help.xml"
            plugin="com.ibm.is.sappack.gen.jco.panel">
      </contexts>
   </extension>
   
   <extension
         point="com.ibm.cic.agent.ui.commonCustomPanels">
      <commonPanel
            textClass="com.ibm.is.sappack.gen.jco.panel.JCoConsoleClass"
            class="com.ibm.is.sappack.gen.jco.panel.JCoClass"
            id="com.ibm.is.sappack.gen.jco.panel.JCoClass">
         <wizardType
               type="INSTALL">
         </wizardType>
         <wizardType
               type="MODIFY">
         </wizardType>
         <wizardType
               type="UPDATE">
         </wizardType>
         <wizardType
               type="UNINSTALL">
         </wizardType>
      </commonPanel>
   </extension>

</plugin>
