<div>
	<div dojoAttachPoint="dialog" dojoType="dijit.Dialog" title="${msg.DeleteDialog_Title}">
	    <div class="dialogContent">
	        <table>
                <tr>
					<td>
						<div class="imageSpacer">
							<div dojoAttachPoint="image" class="ImageQuestion_48"></div>
						</div>
					</td>
					<td>
                        <span dojoAttachPoint="message"></span>
                    </td>
                </tr>
            </table>
		</div>
		<div class="dijitDialogPaneActionBar">
			<button dojoType="dijit.form.Button" type="submit" dojoAttachPoint="okButton"> ${msg.OK}</button>
			<button dojoType="dijit.form.Button" type="button" dojoAttachPoint="cancelButton"> ${msg.CANCEL}</button>
		</div>
	</div>
</div>