<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed Materials - Property of IBM
 
5724-Q55

(c) Copyright IBM Corp. 2009, 2011  All Rights Reserved.

US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="%jobgenxml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.ibm.is.sappack.gen.welcome.intro">
      </intro>
      <introProductBinding
            introId="com.ibm.is.sappack.gen.welcome.intro"
            productId="com.ibm.is.sappack.gen.branding.product">
      </introProductBinding>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="intro/sample.xml"
            id="com.ibm.is.sappack.gen.welcome.introConfigId"
            introId="com.ibm.is.sappack.gen.welcome.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
-->
</plugin>
