<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed Materials - Property of IBM
 
5724-Q55

(c) Copyright IBM Corp. 2009, 2011  All Rights Reserved.

US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.ibm.is.sappack.cw.tools.jobgenerator"
            nameFilter="*.dbm"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="com.ibm.is.sappack.cw.tools.jobgenerator"
               label="Conversion Workbench for SAP">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.ibm.is.sappack.cw.tools.jobgenerator.action.CWJobGeneratorAction"
               enablesFor="1"
               id="com.ibm.is.sappack.cw.tools.jobgenerator.action1"
               label="Generate DataStage job(s)"
               menubarPath="com.ibm.is.sappack.cw.tools.jobgenerator/group1">
         </action>
      </objectContribution>
   </extension>
   -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/help.xml"
            plugin="com.ibm.is.sappack.cw.tools.jobgenerator">
      </contexts>
   </extension>
   <!--
   <extension
         point="com.ibm.is.sappack.gen.common.ui.cwextension">
      <cwextension
            rgAction="com.ibm.is.sappack.cw.tools.jobgenerator.action.CWJobGeneratorAction">
      </cwextension>
   </extension>
   -->
   <!--
   <extension
         point="com.ibm.is.sappack.gen.common.ui.mode">
      <rmrgmode
            modeID="RMRG_CW_MODE"
            rgAction="com.ibm.is.sappack.cw.tools.jobgenerator.action.CWJobGeneratorAction">
      </rmrgmode>
   </extension>
-->
</plugin>
