<div class="topLevelTab">
    <div dojoType="cwapp.main.AddressableTabContainer" dojoAttachPoint="rdmTabContainer" class="tabContainer">
		<div dojoType="cwapp.tab_rdm.TargetReferenceDataPage" title="${msg.CWAPP_2}" id="targetReferenceDataPage">
		</div>
		<!--
		<div dojoType="cwapp.tab_rdm.SourceReferenceDataPage" title="${msg.CWAPP_3}" id="sourceReferenceDataPage">
		</div>
		<div dojoType="cwapp.tab_rdm.DataMappingsPage" title="${msg.CWAPP_4}" id="dataMappingsPage">
		</div>
		-->
	</div>
	<div dojoType="cwapp.tab_config.RdmPasswordDialog" id="rdmPasswordDialog">
    </div>
</div>
