<div>
	<div dojoAttachPoint="eraseDialog" dojoType="dijit.Dialog" title="${msg.REFRNCDATAERSDLG_1}">
		<div class="dialogContent">
			<table cellspacing="10">
				<tr>
					<td>
						<div dojoAttachPoint="eraseDialogImage" class="ImageQuestion_48">
						</div>
					</td>
					<td>
						<div dojoAttachPoint="eraseDialogMessage" class="ReferenceDataEraseDialog_messageContent">
						</div>
					</td>
				</tr>
			</table>
		</div>	
		<div class="dijitDialogPaneActionBar">
			<div dojoType="dijit.form.Button" type="button" dojoAttachPoint="eraseButton">${msg.REFRNCDATAERSDLG_6}</div>
			<div dojoType="dijit.form.Button" type="button" dojoAttachPoint="cancelButton">${msg.CANCEL}</div>
		</div>
	</div>
</div>
