<div dojoType="dijit.layout.ContentPane" class="fullSizePaddedContainer" region="body">
	<div dojoType="idx.layout.BorderContainer" dojoAttachPoint="borderContainer" gutters=false class="fullSizeContainer">
		<div dojoType="dijit.layout.ContentPane" region="top" class="extraBottomMarginThin">
			<div dojoType="idx.layout.ButtonBar" region="majorActions">
				<div dojoType="dijit.form.Button" type="button" dojoAttachPoint="exportButton" disabled="disabled">${msg.SRCREFRNCDATAPG_4}</div>
				<div dojoType="dijit.form.Button" type="button" dojoAttachPoint="createInitialMappingsButton" disabled="disabled">${msg.SRCREFRNCDATAPG_5}</div>
				<div dojoType="dijit.form.Button" type="button" dojoAttachPoint="selectAllButton" region="secondary">${msg.SELECT_ALL}</div>
				<div dojoType="dijit.form.Button" type="button" dojoAttachPoint="deselectAllButton" region="secondary">${msg.DESELECT_ALL}</div>
			</div>
			<div dojoType="idx.form.Link" dojoAttachPoint="refreshAction" class="refreshLink">${msg.REFRESH}</div>
		</div>
		<div dojoType="dijit.layout.ContentPane" region="center" class="dijitBorderContainer-child">
			<table dojoType="dojox.grid.DataGrid" region="center" dojoAttachPoint="refTableGrid"
				class="dataGrid" rowSelector="20px">
				<thead>
					<tr>
						<th width="auto"></th>
					</tr>
				</thead>
			</table>
		</div>
		<div dojoType="dijit.layout.ContentPane" region="bottom" dojoAttachPoint="statusBar"
			class="statusBar dijitBorderContainer-child"></div>
	</div>
</div>

