<table style="width: 90%; border-style: solid; border-width: 1px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;">
  <thead>
    <tr>
      <th style="vertical-align: top; text-align: left; height: 4em;">
        This content is constructed by an example widget of type "IdentitySearcher".
        This widget is instantiated on a page called "search.html" which is 
        referenced as the content for this workspace.
        <br>
        <button dojoType="dijit.form.Button" label="Button 1"></button>
        &nbsp;
        <button dojoType="dijit.form.DropDownButton" label="Button 2">
           <div dojoType="dijit.Menu">
              <div dojoType="dijit.MenuItem" label="Menu Item A"></div>
              <div dojoType="dijit.MenuItem" label="Menu Item B"></div>
              <div dojoType="dijit.MenuItem" label="Menu Item C"></div>
           </div>
        </button>
        &nbsp;

      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="vertical-align: top;">
      <table><tbody>
      <tr>
        <td style="text-align: right;">Given Name:</td>
        <td style="text-align: left;">
             <input dojoType="dijit.form.TextBox"></input>
        </td>
      </tr>
      <tr>
        <td style="text-align: right;">Surname:</td>
        <td style="text-align: left;">
             <input dojoType="dijit.form.TextBox"></input>
        </td>
      </tr>
      <tr>
        <td style="text-align: right;">Birth Date:</td>
        <td style="text-align: left;">
             <input dojoType="dijit.form.DateTextBox"></input>
        </td>
      </tr>
      </tbody></table>
      </td>
    </tr>
  </tbody>
</table>

