<!DOCTYPE html>
<!--
	Licensed Materials - Property of IBM
	(C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
	US Government Users Restricted Rights - Use, duplication or
	disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Link1</title>
        <style type="text/css">
			a.link:link { /* unvisited link */
				color: #00649d;
			}      
			a.link:visited { /* visited link */
				color: #00649d;
			}  
			a.link:hover { /* mouse over link */
				color: #05386b; 
				text-decoration: underline;
			}  
			a.link:active { /* selected link */
				color: #05386b;
				text-decoration: underline;
			}  
        </style>
    </head>
    <body class="oneui">
<div class="portletHeader1">Link 1</div>
This document has <a href="http://www.dojotoolkit.org/" class="link">a link</a>.<br />
(to check we're copying children around properly).<br />
Plus some widgets and native fields:<br />
Here's some text that comes AFTER the button.	
    </body>
</html>