<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>com.ibm.is.sappack.cw.app.ui</display-name>
	<filter>
		<display-name>RedirectFilter</display-name>
		<filter-name>RedirectFilter</filter-name>
		<filter-class>com.ibm.is.sappack.cw.app.ui.util.RedirectFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>FunctionalDataAnalystConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>AllRequests</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>FunctionalDataAnalyst</role-name>
			<role-name>Administrator</role-name>
			<role-name>ReadOnly</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>EveryoneConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>EveryoneCollection</web-resource-name>
			<url-pattern>/public/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Everyone</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/public/login.jsp</form-login-page>
			<form-error-page>/public/error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<description>
		</description>
		<role-name>FunctionalDataAnalyst</role-name>
	</security-role>
	<security-role>
		<description>
		</description>
		<role-name>Administrator</role-name>
	</security-role>
	<security-role>
		<description>
		</description>
		<role-name>ReadOnly</role-name>
	</security-role>
	<security-role>
		<description>
		</description>
		<role-name>Everyone</role-name>
	</security-role>
<!-- 	
	<security-role>
		<description>
		</description>
		<role-name>Configurator</role-name>
	</security-role>
-->	
	<error-page>
        <error-code>403</error-code>
        <location>/public/error.jsp?error=NO_ROLES</location>
    </error-page>
	<servlet>
		<description>CWApp Logout Servlet </description>
		<display-name>CWAppLogoutServlet</display-name>
		<servlet-name>CWAppLogoutServlet</servlet-name>
		<servlet-class>com.ibm.is.sappack.cw.app.ui.util.CWAppLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CWAppLogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>CWApp Configuration Servlet </description>
		<display-name>CWAppConfigurationServlet</display-name>
		<servlet-name>CWAppConfigurationServlet</servlet-name>
		<servlet-class>com.ibm.is.sappack.cw.app.ui.util.CWAppConfigurationServlet</servlet-class>
		<init-param>
			<description>This parameter defines whether to show the BDR UI within CWApp (true) or not (false).</description>
			<param-name>SHOW_BDR_UI</param-name>
			<param-value>true</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CWAppConfigurationServlet</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>