<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!--
Licensed Materials - Property of IBM
 
5724-Q55

(c) Copyright IBM Corp. 2009, 2011  All Rights Reserved.

US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<HTML LANG="en">
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">

<!-- Licensed Materials - Property of IBM
     5648-F10 (C) Copyright International Business Machines Corp. 2007
     All Rights Reserved
     US Government Users Restricted Rights - Use, duplication or disclosure
     restricted by GSA ADP Schedule Contract with IBM Corp. -->

</head>

<script src="../jscp.js" language="javascript">
<%@ include file="global.head" %>
<% loadCSSfiles(DEFAULTCSS, "content.css"); %>

<body>
	<h1><%= browserString('<span class="number">3</span>'); %><%= property('title') %></h1>
	
	<p>
		<img src="<%= findURL('disk1', 'architecture.jpg') %>" class="fillPage">
	</p>
</body>
</script>
</html>
