USEDEFAULTILOADDIR=TRUE
DSPASSWORD=vqy/lzmizm
RFCSERVERCOUNT=10
SAPROUTERSTRING=
ACKNOWLEDGEIDOCRECEIPT=TRUE
DEFAULTLANGUAGE=EN
DATAFILESPATH=
PASSWORDFILE=C:\tmp\passwordFile.txt
SAPSYSNUM=00
DEFAULTUSERNAME=gaege
DESCRIPTION=bocasapides5.bocaraton.ibm.com
SAPGROUP=
DSUSERNAME=isadmin
METADATAFILE=
SAPMESSERVER=
IDOCPORTVERSION=3
DEFAULTCLIENT=800
READMETADATAFROMFILE=FALSE
ALLOWSAPTORUNJOBS=TRUE
SAPAPPSERVER=bocasapides5.bocaraton.ibm.com
LISTENFORIDOCS=TRUE
NAME=BOCASAPIDES5
ISDOMAINNAME=bl3aed5b:9080
MSGSVRROUTERSTRING=
SAPSYSID=
REFSERVERPROGID=ZCGBL3AED5BW500
DSSERVERNAME=BL3AED5B
USELOADBALANCING=FALSE
DEFAULTPASSWORD=ou')&{+m.
PACKHOME=C:\IBM\InformationServer\Server\
UVHOME=C:\IBM\InformationServer\Server\DSEngine\
